<div class="row auth-height full-height-vh m-0">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="card overflow-hidden">
      <div class="card-content">
        <div class="card-body auth-img">
          <div class="row m-0">
            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
              <img src="assets/img/gallery/login.png" alt="" class="img-fluid" width="300" height="230">
            </div>
            <div class="col-lg-6 col-12 px-4 py-3">
              <h4 class="mb-2 card-title">Login</h4>
              <p>Welcome back, please login to your account.</p>    
              <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="d-sm-flex justify-content-between mb-3 font-small-2">
        <div class="remember-me mb-2 mb-sm-0">
          <div class="checkbox auth-checkbox">
            <input type="checkbox" formControlName="rememberMe" class="form-control" id="rememberMe">
            <label for="rememberMe"><span class="font-small-2 mb-3 font-weight-normal">Remember Me</span></label>
          </div>
        </div>
        <a href="javascript:;">Forgot Password?</a>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
      <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="text-primary m-0">Or Login With</h6>
                  <ngx-spinner></ngx-spinner>
                  <div class="login-options">
                    <a class="btn btn-sm btn-social-icon btn-facebook mr-1"><span class="fa fa-facebook"></span></a>
                    <a class="btn btn-sm btn-social-icon btn-twitter mr-1"><span class="fa fa-twitter"></span></a>
                  </div>
                </div>
    </form>
    
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
         


